<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>

        <th>User Name</th>
        <th>User ID</th>

      </tr>

      <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.id %></td>
        </tr>
      <% end %>
